* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    z-index: 1000;
    width: 100%;
    height: 10vh; /* Keep only one height unit */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 10px;
    text-align: center;
}

.vg {
    position: absolute;
    top: 0;
}

nav a {
    color: white;
    font-weight: 200;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #A06141;
    border-radius: 5px;
    animation: forwards;
    transition: 0.5s;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 4vw;
    list-style-type: none;
    width: 100%;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    width: 50%;
    left: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.logo h1 {
    margin-left: 10px;
    color: #A06141;

}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/hero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
}
.content {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
}
.content h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.content p {
    font-size: 20px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
.content a {
    color: white;
    font-weight: 200;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: #A06141;
    border-radius: 5px;
    transition: 0.5s;
}
.content a:hover {
    background-color: #53392c;
    border-radius: 5px;
    animation: forwards;
    transition: 0.5s;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.btn :nth-child(1){
background-color: transparent;
border: 1px solid white;
}
/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    
}
/*mobile*/
@media (max-width: 768px) {
  
    
    .nav{
       
        display: flex;
        justify-content: space-between;
        
    }
    
    .content {
        width: 90%;
    }
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 0px;
        width: 50%;
        height: 100%;
        background-color: #A06141;
        transition: 0.5s ease-in-out;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center; 
    }
    .nav-menu.li{
       
        margin: 20px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}